.center{
    min-width: 495px;
    min-height: 500px;
    margin: 28px;
    @include desktop{
        margin: -80px 40px 0;
    }
    position: relative;
    > .stack{
        width: 390px;
        min-height: 200px;
        user-select: none;
        @include phone{
            width: 320px;
        }
        background-image: linear-gradient(170deg, transparent 66%, rgba(255,255,255,0.3));
        position: absolute;
        @include accent-200(transparent);
        transition: top 0.2s, left 0.2s;
        > img{
            width: 100%;
        }

        $begin: 0;
        $end: 13;

        @for $i from $begin through $end{
            &.-s#{$i}{
                z-index: ($end - $i) + 1;
                top: #{($i * 12)}px;
                left: #{($i * 12)}px;
            }
        }
    }
}

.centerpiece{
    width: 360px;
    overflow: hidden;
    @include phone{
        width: 320px;
    }
    > .content{
        width: 100%;
        position: relative;
        > .circle{
            position: absolute;
            top: 24.5%;
            left: 33.5%;
            @include phone{
                top: 22%;
                left: 29.5%;
            }
            width: 130px;
            animation: spin 8s infinite linear;
            @include border-200($color-b);
        }
        > .image{
            width: 100%;
        }
    }
}
