extends ../layouts/default.pug
block vars
    - var title = "Aris Acoba"
    - var description = ""
block content
    .container
        .left
            .info
                p #[a(href="" class="bg-change") #[span.highlight Aris Acoba]] is a product designer working with #[a(href="http://www.mashupgarage.com/" target="_blank" class="underline-italic -s100") Mashup Garage] in Manila, Philippines.
            .socials
                a(href="https://twitter.com/arisacoba" target="_blank" class="underline-italic") twitter
                a(href="https://codepen.io/arisacoba" target="_blank" class="underline-italic") codepen
                a(href="https://dribbble.com/arisacoba" target="_blank" class="underline-italic") dribbble
                a(href="https://github.com/arisacoba" target="_blank" class="underline-italic") github
        .center
            .centerpiece.stack.-s0
                .content
                    img(class="circle" src="assets/images/emblem.png" alt="Aris Acoba")
                    img(class="image" src="assets/images/aris-acoba.jpg" alt="Aris Acoba")
            .stack.-s1
                img(src="assets/images/stack-2.jpg")
            .stack.-s2
                img(src="assets/images/stack-3.jpg")
            .stack.-s3
                img(src="assets/images/stack-4.jpg")
            .stack.-s4
                img(src="assets/images/stack-5.jpg")
            .stack.-s5
                img(src="assets/images/stack-6.jpg")
            .stack.-s6
                img(src="assets/images/stack-7.jpg")
        .right
            .info
                a(class="underline-italic -s100" id="lawadvisor") LawAdvisor AU/UK
                a(class="underline-italic -s100" id="southridge") PAREF Southridge School
                a(class="underline-italic -s100" id="fortuner") 2016 Toyota Fortuner
                a(class="underline-italic -s100" id="kidlat") 2016 Kidlat Awards PH
                a(class="underline-italic -s100" id="edunasyon") Edunasyon.org
                a(class="underline-italic -s100" id="jay-sab") Jay and Sab Around the World
