extends ../layouts/default.pug
block vars
    - var title = "Aris Acoba • UI/Product Design/Development"
    - var description = "Aris Acoba is a product designer/developer tumbling around Manila, Melbourne, and London."
    - var image = "http://www.arisacoba.com/assets/images/aris-acoba-share.jpg"
    - var currentPath = "http://www.arisacoba.com/"
block content
    .container
        .left
            .info
                p #[a(href="https://twitter.com/arisacoba" target="_blank" class="bg-change") #[span.highlight Aris Acoba]] is a product designer/developer tumbling around Manila, Melbourne, and London.
                p He has worked on LawAdvisor AU/UK, Toyota Philippines, PAREF Southridge School, Kidlat Awards, IdeasXMachina, Lorenzana Food Corp, and Eastwest Banking Corporation.
            .socials
                a(href="https://twitter.com/aris_acoba" target="_blank" class="underline-italic") twitter
                a(href="https://codepen.io/aris_acoba" target="_blank" class="underline-italic") codepen
                a(href="https://dribbble.com/aris_acoba" target="_blank" class="underline-italic") dribbble
                a(href="https://github.com/arisacoba" target="_blank" class="underline-italic") github
                a(href="mailto:aris.acoba@gmail.com" class="underline-italic") email
        .center
            .centerpiece.stack.-s0
                .content
                    img(class="circle" src="assets/images/emblem.png" alt="Aris Acoba")
                    img(class="image" src="assets/images/aris-acoba.jpg" alt="Aris Acoba")
            .stack.-s1
                img(src="assets/images/drib-navigation.gif" alt="LawAdvisor Navigation")
            .stack.-s2
                img(src="assets/images/drib-search-bar.gif" alt="LawAdvisor Search Bar")
            .stack.-s3
                img(src="assets/images/01-la.jpg" alt="LawAdvisor Homepage")
            .stack.-s4
                img(src="assets/images/03-la.jpg" alt="LawAdvisor Monitoring Tool")
            .stack.-s5
                img(src="assets/images/01-metron.jpg" alt="Metron Product Page")
            .stack.-s6
                img(src="assets/images/01-sr.jpg" alt="Southridge Homepage")
            .stack.-s7
                img(src="assets/images/02-sr.jpg" alt="Southridge Contact Page")
            .stack.-s8
                img(src="assets/images/02-fortuner.jpg" alt="Toyota Fortuner Homepage")
            .stack.-s9
                img(src="assets/images/01-kidlat.jpg" alt="Kidlat Awards")
            .stack.-s10
                img(src="assets/images/02-kidlat.jpg" alt="Kidlat Awards Winners")
            .stack.-s11
                img(src="assets/images/01-jayandsab.jpg" alt="Jay and Sab Around the World")
        .right
