extends ../layouts/default.pug
block vars
    - var title = "Aris Acoba"
    - var description = ""
block content
    .centerpiece
        img(class="circle" src="assets/images/emblem.png" alt="Aris Acoba")
        img(class="image" src="assets/images/aris-acoba.jpg" alt="Aris Acoba")
