@mixin border-200($color){
    border: 2px solid transparent;
    cursor: pointer;
    &:hover{
        border-color: $color-b;
    }
}

@mixin accent-200($accent){
    border: 2px solid $accent;
    cursor: pointer;
    &:hover{
        border-color: $color-b;
    }
}
